@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');


body{
    background-color: #232323;
    line-height: 1.6em;
    margin: 0;
}

.navbar {
    background-color: #232323;
    position: relative;
    overflow: hidden;
    
}

.navbar img{
    padding-top: 28px;
    padding-left: 50px;
    height: 60px;
    float: left;
    filter:invert()
}
.navbar h1 {
    color: white;
    padding-top: 15px;
    font-size: 50px;
    font-family: Syne;
    font-weight: normal;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    letter-spacing: 8px;
}


.navbar a {
    float: left;
    color: #FBEBD3;
    text-align: center;
    margin-top: 45px;
    margin-right: 35px;
    text-decoration: none;
    font-size: 30px;
    font-family: Syne;
    font-weight: lighter;
    letter-spacing:8px
}

.navbar a:hover {
    color: greenyellow;
}

.topnav-left {
    float: left;
    box-sizing: border-box;
}

.topnav-right {
    float: right;
}
/*
----------------------------------------------
*/

.blackBox{
    background-color: #2B2B2B;
    margin: 0;
    padding: 0;
    padding-bottom: 20%;
    color: white;
    position: relative;
}

.blackBox img {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
}

.whiteBox{
    background-color: white;
    color: black;
    margin: 0;
    padding-top:0;
    padding-bottom:8%;
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative; 
}

.container p{
    padding-top: 20px;
    margin: auto;
    width: 50%;
    font-family: Sen;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.container h1 {
    text-align: center;
    padding: 0;
    margin-bottom: 2.5%;
    padding-top: 8%;
    padding-bottom: 1px;
    font-family: Sen;
    font-size: 74px;
}

.line{
    border-style: solid;
    border-bottom: 1px;
    margin: auto;
    width: 50%;
}

.waves{
    fill: white;
    margin: 0;
    padding: 0;
}

/*
ID'S
*/

#lowlight{
    color:#B1A695;
}