@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');


body{
    background-color: #191B32;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("images/flying.jpg");
}


.container {
  width: 70%;
  margin: auto;
  padding-bottom: 30%;
}

.container h1 {

font-family: Sen;
font-style: normal;
font-weight: bold;
font-size: 7em;
margin: 0;
margin-top: 10%;
text-align: center;
letter-spacing: 0.08em;

color: #FFFFFF;
 
}


.container p {
    color: white;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 185.81%;
    
    /* or 46px */
    text-align: center;
}

.container img {
   position: absolute;
   top: 100%;
}

.waves1{
    width: auto;
    height: auto;
    margin: auto;
    position: absolute;
    bottom: 100%;

}

.waves1 img{
position: absolute;;
}

.box{
    position: absolute;
    width: 100%;
    background-color: #191B32;
    height: 3733px;
}


.clr {
    clear:both;
}


.line {
    width: 1;
    border-bottom: 1px white solid;
}


/*
ID'S
*/
#navbar {
    overflow: hidden;
    position: relative;
    margin: auto;
}

#navbar img {
    height: 90px;
    filter:invert();
    margin-left: 50px;
    float: left;
    margin-top: 39px;
    
}

#navbar h2 {
    font-size: 72px;
    font-family: Syne;
    color:white;
    float: left;
    margin-top: 35px;
    margin-left: 30px;
}

#navbar a{
    color:#FBEBD3;
    text-decoration:none;
    font-family: Syne;
    font-weight: normal;
    font-size: 40px;
    margin-right: 50px;
}

#navbar a:hover{
    color:white;
}

#navbarRight{
    margin-top: 3%;
    float:right;
}


#lowlight{
    color:#B1A695;
}