@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&family=Syne:wght@400;500;600;700;800&display=swap');
body{
    background-color: #141414;
    background-image: url("pictures/");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("images/background.jpg");
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6em;
    margin: 0;
}

.first {
    width: 90%;
    margin: auto;
    overflow: hidden;
    bottom: 1px;
}

.navbar {
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}

.navbar img{
    height: 90px;
    margin: 0;
    padding: 0;
    float: left;
    filter:invert()
}
.navbar h1 {
    font-size: 70px;
    font-family: Syne;
    font-weight: normal;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 30px;
    padding-left: 20px;
    letter-spacing: 8px;
}


.navbar a {
    float: left;
    color: #FBEBD3;
    text-align: center;
    padding: 40px 40px;
    text-decoration: none;
    font-size: 46px;
    font-family: Syne;
    font-weight: lighter;
    margin: 0;
    letter-spacing:8px
}

.navbar a:hover {
    color: greenyellow;
}

.topnav-left {
    float: left;
    box-sizing: border-box;
}

.topnav-right {
    float: right;
}

.main-title {
    margin-top: 10%;
    font-size: 60px;
    font-family: Sen;
    letter-spacing: 20px;
    line-height: 40px;
    font-weight: bolder;
    margin-bottom: 6%;
}

.main-title-right {
    padding-left: 26%;
}

.line{
    margin: 1px;
    color:white;
    border-style: solid;
    border-top: 3px;
    width: 57%;
}

.paragraph{
    width: 50%;
    font-family: Sen;
    margin: 10px;
    font-size: 40px;
    line-height: 1.6em;
}

.clr{
    clear:both;
}

/*
ID'S
*/

#green {
    color: #b6ff56
}
#lightgreen {
    color: #C3FF76
}